.code-box {
  display: inline-flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 12px 22px;
  font-size: 1rem;
  color: rgba(var(--foreground-rgb), 0.6);
  border-top: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-left: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-right: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.icon {
  border-radius: 3px;
}

.code-container {
  display: flex;
  flex-flow: column nowrap;

  font-family: var(--font-mono);
  font-weight: normal;

  padding: 22px;
  padding-bottom: 15px;

  border-top: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-left: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-right: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-bottom: 1px solid rgba(var(--card-border-rgb), 0.5);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  background-color: rgb(var(--background-code-rgb));

  counter-reset: line;
}
.code-container > span {
  display: block;
}
.code-container.line-number {
  padding-left: 12px;
}
.code-container.line-number > span {
  padding-left: 10px;
  /* Padding para separar el before */
}
.code-container.line-number > span::before {
  counter-increment: line;
  content: counter(line);
  margin-right: 10px;
}
